@font-face {
  font-family: "Loos Ext";
  src:
    url("../font/loos-extended/black.otf");
  font-weight: 900;
}

@font-face {
  font-family: "Loos Ext";
  src:
    url("../font/loos-extended/regular.otf");
  font-weight: 400;
}


* {
  margin: 0;
  padding: 0;
}


body {
  background: black;
  color: white;
  font-family: "Loos Ext", sans-serif;
}


header {
  padding: 10px 10px 0 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 50px;
}

/* header .name {
  border-bottom: 2px solid #a888ff;
} */

header .money {
  padding: 3px 15px 2px 15px;
  background: white;
  color: black;
  font-weight: 900;
  border-radius: 15px;
}


main .action {
  padding: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

main .card {
  text-align: center;
  color: black;
  background: #cccccc;
  width: 100%;
  height: 80vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 50px;
  border-radius: 25px;
}

main .card.legendary {
  background-image: linear-gradient(-30deg, #a888ff, #ffa9fe, #ffc688);
}

main .card.rare {
  background: lightskyblue;
}

main .card.epic {
  background: lightcoral;
}

main .card img {
  width: 200px;
  image-rendering: pixelated;
}

main .card .about {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 15px;
}

main .card .about .name {
  margin-bottom: -10px;
}

main .card .about .rarity {
  font-size: 12px;
  padding: 3px 10px;
  border: 2px solid black;
  border-radius: 15px;
}

main .card .about .cost {
  font-size: 30px;
}

main .buttons {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 10px;
}

main .button {
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: 900;
  border-radius: 15px;
}

main .button.big {
  background: white;
  color: black;
  height: 50px;
  width: calc(100% - 50px - 10px);
}

main .button.small {
  background: #1f1f1f;
  height: 46px;
  width: 46px;
  border: 2px solid #2f2f2f;
}


main .gallery {
  padding: 10px;
  display: none;
  flex-direction: column;
  gap: 10px;
}

main .gallery .stored {
  background: #cccccc;
  color: black;
  padding: 15px;
  display: flex;
  align-items: center;
  gap: 15px;
  border-radius: 15px;
}

main .gallery .stored img {
  width: 40px;
}

main .gallery .stored.legendary {
  background-image: linear-gradient(-30deg, #a888ff, #ffa9fe, #ffc688);
}

main .gallery .stored.rare {
  background: lightskyblue;
}

main .gallery .stored.epic {
  background: lightcoral;
}